@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");

@import "tailwindcss";

@theme {
  --ease-in-out: cubic-bezier(1,0,0,1);
  --ease-out: cubic-bezier(0.19, 1, 0.22, 1);
}

:root {
  --background: #181818;
  --foreground: #efefef;
}

::selection {
  background-color: rgb(96, 39, 89);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  height: 1080px;
  overflow: hidden;
}

.page {
  @apply absolute m-0 h-full w-full p-6 grow top-0 left-0 transition-all duration-700 ease-out my-4 bg-[#181818];
  opacity: 0%;
}

h1 {
  @apply block border-b w-full text-3xl font-bold py-4 border-[#515151];
}

.page.show {
  opacity: 100%;
  z-index: 30;
}

p {
  @apply my-6
}